<html>
  <head> 
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="decorator" content="atl.general"/>
  
    $webResourceManager.requireResource("com.dt.jira.create.incident.report.subtask.incident-management-create-incident-report-subtask-v2:create-incident-report-subtask-v2-resources")  
    #if (${action.issueObject})
        <meta name="decorator" content="issueaction" />
    #else
        <meta name="decorator" content="message" />
    #end
   	
	
   </head>
  <body>

       #if ($action.getMessages() != "")

<div class="remove-me">
    <h2 class="dialog-title">${action.getText('create-and-link-incident-report-subtask.error.header')}</h2>
     <div class="aui-message error"><span class="aui-icon icon-error"></span>
        #foreach($message in $action.flushedErrorMessages)
            <p>$message</p>
        #end
    </div>
</div>
#end

  </body>
  </html>