#if ($action.hasAnyErrors())
    <div class="aui-message error shadowed">
        #foreach ($error in $action.getErrorMessages())
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>$error</strong>
            </p>
		#end
		#foreach ($error in $action.errors)
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>$error</strong>
            </p>
        #end
    </div>
#end