<html>
<head>
      <meta name="decorator" content="atl.admin" />
      <meta name="projectKey" content="$projectKey"/>
      <meta name="application-base-url" content="$applicationProperties.getBaseUrl()"> 
      $webResourceManager.requireResource("com.dt.jira.servicedesk.customize.DT-ServiceDesk-Customization:DT-ServiceDesk-Customization-resources")
      $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2") 
	  $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
	  $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:autocomplete")
      <title>Desk Desk Configuration</title>
<link type="text/css" rel="stylesheet" href="/s/37d5b4b02a944173d22cd0726a77ed9b-CDN/en_US-zi3orr/64014/72/602dcc32447c5126cd3eb0ae19c0c0af/_/download/contextbatch/css/atl.general,jira.general/batch.css?jag_disabled_marketing=true" media="all">
<link type="text/css" rel="stylesheet" href="/s/bb73ac22ac498c4c5ede580943e75eae-CDN/en_US-zi3orr/64014/72/b9d0ec3011c4b34d01bc575a34bfe85b/_/download/contextbatch/css/jira.global/batch.css" media="all">
<link type="text/css" rel="stylesheet" href="/s/e2e8e895d2f6065200237acdfdcf62c9-CDN/en_US-zi3orr/64014/72/1.0/_/download/batch/jira.webresources:captcha/jira.webresources:captcha.css" media="all">
    
<style>
.aui-page-panel-content{
	box-sizing: border-box;
	display: table-cell;
	padding: 20px;
	vertical-align: top;
}
body{
	color: #333;
	font-family: Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857142857143;
}
.sd-portal-preview {
  border-bottom: 1px solid #d3d3d3;
  font-size: 16px;
  text-align: right;
  padding-bottom: 20px;
  height: 20px;
}
.sd-portal-preview div.breadcrumb {
  float: left;
}
.sd-portal-preview div.breadcrumb .header {
  font-size: 20px;
}
form.aui {
  margin: 20px 0 0 0;
  position: relative;
}
table.aui {
  border-collapse: collapse;
  width: 100%;
  vertical-align: top;
    margin: 10px 0 0 0;
}
table {
  display: table;
  border-spacing: 2px;
  border-color: grey;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table.aui>thead {
  border-bottom: 1px solid #ccc;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table.aui.aui-restfultable>thead>tr>th {
  background-color: #fff;
}
table.aui>thead>tr>th
{
  padding: 7px 10px;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
   display: table-cell;
}
#request-types-table th .descLight {
  font-weight: normal;
  color: #707070;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.aui-restfultable-create td {
  border: solid #bbb;
  border-width: 1px 0;
}
table.aui>tbody>tr, 
{
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #333;
}
tr 
{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr.highlight   
{    
   background-color: #063774;   
   color: White;   
}

table.aui>tbody>tr:first-child>td
{
  border-top: 1px solid #ccc;
}
.aui-restfultable-allowhover tr.aui-restfultable-focused td {
  background-color: #ebf1fd;
}
#request-types-table .aui-restfultable-row td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.aui-restfultable .aui-restfultable-order {
  width: 8px;
}
.aui-restfultable .aui-restfultable-row .aui-restfultable-draghandle {
  display: inline-block;
  width: 8px;
  height: 100%;
  min-height: 24px;
  margin-bottom: -6px;
  background-image: url("/s/en_USbusnmh/64014/47/2.5.0/_/download/resources/com.atlassian.servicedesk:restful-table/experimentalimages/bg-grippy.png");
  cursor: move;
}
#request-types-table .aui-restfultable-row td.request-type-icon {
  padding-top: 5px;
  padding-bottom: 5px;
}
#request-types-table .request-type-icon {
  width: 65px;
}

#request-types-table .request-type-group {
  width: 200px;
}


#request-types-table .aui-restfultable-editrow .aui-restfultable-hovercell {
   box-sizing: border-box;
  display: block;
  margin: 0;
  height: 1%;
  padding: 3px 24px 2px 4px;
  position: relative;
}
#request-types-table .request-type-name {
  width: 220px;
}
.aui-restfultable .aui-restfultable-row input.text, .aui-restfultable .aui-restfultable-row select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
}

.bordertopthtd{
border-top:1px solid #bbb;
}

.tdhover{
    border:1px solid gray;
    background-color: #FCFAB3;
    }
	
.selected {
border:1px solid gray;
background: #f5f5f5;
border-color: #cccccc;
}

.tdwrapcls{
width: 200px;
/* text-overflow: ellipsis; */
overflow: hidden;
/* white-space: nowrap; */
word-wrap: break-word;
}

.tdurlWrapcls{
width: 220px;
/* text-overflow: ellipsis; */
overflow: hidden;
/* white-space: nowrap; */
word-wrap: break-word;
}

a.disabled { color:gray; }
 
</style>
</head>



<body>
<div class="header" style="bold;">
        <h3 class="formtitle" style="font-weight:bold;border-bottom:0px;">Service Desk Portal Group Configuration</h3> 
    </div>
<div class="content-container">
<form  class="aui" >


<input type="hidden" id="projectKey" name="projectKey" value="$projectKey">
                     <input type="hidden" id="baseURL" value="$baseURL"/> 
					 
<!-- Render the group dialog -->
<section role="dialog" id="group-popup" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Add New Group</h2>
        
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
         <div class="form-body" style="max-height: 320px;">
		 New Group Name : <input id="addNewGroup" class="text" name="addNewGroup"></input>
		 </div>
    </div>
<!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
		<button id="addGroup" class="aui-button aui-button-link addGroup">Add </button>
            <button id="dialog-close-button" class="aui-button aui-button-link dialog-close-button">Close</button>
        </div>
        
    </footer>
</section>	
					 
<!-- Render the dialog -->
<section role="dialog" id="icons-popup" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Select Icon</h2>
        
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
         <div class="form-body" style="max-height: 320px;">
            <div class="vp-icons-chooser">
               <div data-icon="0" class="vp-rq-icon vp-rq-icon-0" aria-hidden="true"></div>
               <div data-icon="1" class="vp-rq-icon vp-rq-icon-1" aria-hidden="true"></div>
               <div data-icon="2" class="vp-rq-icon vp-rq-icon-2" aria-hidden="true"></div>
               <div data-icon="3" class="vp-rq-icon vp-rq-icon-3" aria-hidden="true"></div>
               <div data-icon="4" class="vp-rq-icon vp-rq-icon-4" aria-hidden="true"></div>
               <div data-icon="5" class="vp-rq-icon vp-rq-icon-5" aria-hidden="true"></div>
               <div data-icon="6" class="vp-rq-icon vp-rq-icon-6" aria-hidden="true"></div>
               <div data-icon="7" class="vp-rq-icon vp-rq-icon-7" aria-hidden="true"></div>
               <div data-icon="8" class="vp-rq-icon vp-rq-icon-8" aria-hidden="true"></div>
               <div data-icon="9" class="vp-rq-icon vp-rq-icon-9" aria-hidden="true"></div>
               <div data-icon="10" class="vp-rq-icon vp-rq-icon-10" aria-hidden="true"></div>
               <div data-icon="11" class="vp-rq-icon vp-rq-icon-11" aria-hidden="true"></div>
               <div data-icon="12" class="vp-rq-icon vp-rq-icon-12" aria-hidden="true"></div>
               <div data-icon="13" class="vp-rq-icon vp-rq-icon-13" aria-hidden="true"></div>
               <div data-icon="14" class="vp-rq-icon vp-rq-icon-14" aria-hidden="true"></div>
               <div data-icon="15" class="vp-rq-icon vp-rq-icon-15" aria-hidden="true"></div>
               <div data-icon="16" class="vp-rq-icon vp-rq-icon-16" aria-hidden="true"></div>
               <div data-icon="17" class="vp-rq-icon vp-rq-icon-17" aria-hidden="true"></div>
               <div data-icon="18" class="vp-rq-icon vp-rq-icon-18" aria-hidden="true"></div>
               <div data-icon="19" class="vp-rq-icon vp-rq-icon-19" aria-hidden="true"></div>
               <div data-icon="20" class="vp-rq-icon vp-rq-icon-20" aria-hidden="true"></div>
               <div data-icon="21" class="vp-rq-icon vp-rq-icon-21" aria-hidden="true"></div>
               <div data-icon="22" class="vp-rq-icon vp-rq-icon-22" aria-hidden="true"></div>
               <div data-icon="23" class="vp-rq-icon vp-rq-icon-23" aria-hidden="true"></div>
               <div data-icon="24" class="vp-rq-icon vp-rq-icon-24" aria-hidden="true"></div>
               <div data-icon="25" class="vp-rq-icon vp-rq-icon-25" aria-hidden="true"></div>
               <div data-icon="26" class="vp-rq-icon vp-rq-icon-26" aria-hidden="true"></div>
               <div data-icon="27" class="vp-rq-icon vp-rq-icon-27" aria-hidden="true"></div>
               <div data-icon="28" class="vp-rq-icon vp-rq-icon-28" aria-hidden="true"></div>
               <div data-icon="29" class="vp-rq-icon vp-rq-icon-29" aria-hidden="true"></div>
               <div data-icon="30" class="vp-rq-icon vp-rq-icon-30" aria-hidden="true"></div>
               <div data-icon="31" class="vp-rq-icon vp-rq-icon-31" aria-hidden="true"></div>
               <div data-icon="32" class="vp-rq-icon vp-rq-icon-32" aria-hidden="true"></div>
               <div data-icon="33" class="vp-rq-icon vp-rq-icon-33" aria-hidden="true"></div>
               <div data-icon="34" class="vp-rq-icon vp-rq-icon-34" aria-hidden="true"></div>
               <div data-icon="35" class="vp-rq-icon vp-rq-icon-35" aria-hidden="true"></div>
               <div data-icon="36" class="vp-rq-icon vp-rq-icon-36" aria-hidden="true"></div>
               <div data-icon="37" class="vp-rq-icon vp-rq-icon-37" aria-hidden="true"></div>
               <div data-icon="38" class="vp-rq-icon vp-rq-icon-38" aria-hidden="true"></div>
               <div data-icon="39" class="vp-rq-icon vp-rq-icon-39" aria-hidden="true"></div>
            </div>
			<input id="selIconHidden" type="hidden" />
			 </div>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
           <div class="buttons"><span class="icon throbber">
		   </span>
		   <input type="submit" value="Select"  name="submit" class="selectIcon" accesskey="s">
		    <button id="icons-close-button" class="aui-button aui-button-link dialog-close-button">Close</button>
		   </div>
        </div>
        
    </footer>
</section>

<!-- Render the dialog -->
<section role="dialog" id="icons-add-popup" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Select Icon</h2>
        
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
<!-- Main dialog content -->
    <div class="aui-dialog2-content">
         <div class="form-body" style="max-height: 320px;">
            <div class="vp-icons-chooser-add">
               <div data-icon="0" class="vp-rq-icon vp-rq-icon-0" aria-hidden="true"></div>
               <div data-icon="1" class="vp-rq-icon vp-rq-icon-1" aria-hidden="true"></div>
               <div data-icon="2" class="vp-rq-icon vp-rq-icon-2" aria-hidden="true"></div>
               <div data-icon="3" class="vp-rq-icon vp-rq-icon-3" aria-hidden="true"></div>
               <div data-icon="4" class="vp-rq-icon vp-rq-icon-4" aria-hidden="true"></div>
               <div data-icon="5" class="vp-rq-icon vp-rq-icon-5" aria-hidden="true"></div>
               <div data-icon="6" class="vp-rq-icon vp-rq-icon-6" aria-hidden="true"></div>
               <div data-icon="7" class="vp-rq-icon vp-rq-icon-7" aria-hidden="true"></div>
               <div data-icon="8" class="vp-rq-icon vp-rq-icon-8" aria-hidden="true"></div>
               <div data-icon="9" class="vp-rq-icon vp-rq-icon-9" aria-hidden="true"></div>
               <div data-icon="10" class="vp-rq-icon vp-rq-icon-10" aria-hidden="true"></div>
               <div data-icon="11" class="vp-rq-icon vp-rq-icon-11" aria-hidden="true"></div>
               <div data-icon="12" class="vp-rq-icon vp-rq-icon-12" aria-hidden="true"></div>
               <div data-icon="13" class="vp-rq-icon vp-rq-icon-13" aria-hidden="true"></div>
               <div data-icon="14" class="vp-rq-icon vp-rq-icon-14" aria-hidden="true"></div>
               <div data-icon="15" class="vp-rq-icon vp-rq-icon-15" aria-hidden="true"></div>
               <div data-icon="16" class="vp-rq-icon vp-rq-icon-16" aria-hidden="true"></div>
               <div data-icon="17" class="vp-rq-icon vp-rq-icon-17" aria-hidden="true"></div>
               <div data-icon="18" class="vp-rq-icon vp-rq-icon-18" aria-hidden="true"></div>
               <div data-icon="19" class="vp-rq-icon vp-rq-icon-19" aria-hidden="true"></div>
               <div data-icon="20" class="vp-rq-icon vp-rq-icon-20" aria-hidden="true"></div>
               <div data-icon="21" class="vp-rq-icon vp-rq-icon-21" aria-hidden="true"></div>
               <div data-icon="22" class="vp-rq-icon vp-rq-icon-22" aria-hidden="true"></div>
               <div data-icon="23" class="vp-rq-icon vp-rq-icon-23" aria-hidden="true"></div>
               <div data-icon="24" class="vp-rq-icon vp-rq-icon-24" aria-hidden="true"></div>
               <div data-icon="25" class="vp-rq-icon vp-rq-icon-25" aria-hidden="true"></div>
               <div data-icon="26" class="vp-rq-icon vp-rq-icon-26" aria-hidden="true"></div>
               <div data-icon="27" class="vp-rq-icon vp-rq-icon-27" aria-hidden="true"></div>
               <div data-icon="28" class="vp-rq-icon vp-rq-icon-28" aria-hidden="true"></div>
               <div data-icon="29" class="vp-rq-icon vp-rq-icon-29" aria-hidden="true"></div>
               <div data-icon="30" class="vp-rq-icon vp-rq-icon-30" aria-hidden="true"></div>
               <div data-icon="31" class="vp-rq-icon vp-rq-icon-31" aria-hidden="true"></div>
               <div data-icon="32" class="vp-rq-icon vp-rq-icon-32" aria-hidden="true"></div>
               <div data-icon="33" class="vp-rq-icon vp-rq-icon-33" aria-hidden="true"></div>
               <div data-icon="34" class="vp-rq-icon vp-rq-icon-34" aria-hidden="true"></div>
               <div data-icon="35" class="vp-rq-icon vp-rq-icon-35" aria-hidden="true"></div>
               <div data-icon="36" class="vp-rq-icon vp-rq-icon-36" aria-hidden="true"></div>
               <div data-icon="37" class="vp-rq-icon vp-rq-icon-37" aria-hidden="true"></div>
               <div data-icon="38" class="vp-rq-icon vp-rq-icon-38" aria-hidden="true"></div>
               <div data-icon="39" class="vp-rq-icon vp-rq-icon-39" aria-hidden="true"></div>
            </div>
			<input id="selAddHidden" type="hidden" />
         </div>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
           <div class="buttons"><span class="icon throbber">
		   </span>
		   <input type="submit" value="Select"  name="submit" class="selectIconadd" accesskey="s">
		   <button id="icons-add-close-button" class="aui-button aui-button-link dialog-close-button">Close</button>
		   </div>
        </div>
        
    </footer>
</section>					 
					 
				 
					 
					 
<table id="request-types-table" class="aui-restfultable aui-restfultable-allowhover aui" >
	<thead>
		<tr>
		
			<th>Icon</th>
			<th>Item</th>
			<th>Groups</th>
			<th>Url</th>
			<th>Service Desk</th>
			<th>Actions</th>
		</tr>
	<tr class="aui-restfultable-row aui-restfultable-editrow bordertopthtd">
	<td class="request-type-icon-add">
		<span class="aui-restfultable-hovercell" data-field-name="icon"><input type="hidden" name="requestTypeIcon" id="requestTypeIcon" value="trigger-icon-edit vp-rq-icon vp-rq-icon-32"><div aria-hidden="true" class="trigger-icon-edit vp-rq-icon vp-rq-icon-32"></div></span>
	</td>		
        		 
			</td>
			<td class="request-type-item">
				<input id="nameID" type="text" class="text" name="name">
			</td>
			<td class="request-type-group">
			
                                
                     <select id="groups" name="groups" multiple="multiple" style="width:200px">                                                             
                                            
                                
						   </select> 
                      						   
			<a href="javascript:void(0);" class="addNewGrpBtn" original-title="Add New Group" style="float:right;font-size:11px">Add New Group</a>
                           
             </td>
			<td class="request-type-url">
				<input id="urlID" class="text" name="url"></input>
			</td>
			<td class="request-type-service-desk">
			<select id="serviceDesk" name="serviceDesk">                                                             
                                    <option value="None">---select---</option> 
                                                                   
                                    #foreach ($option in $servicedesks)                                    
	                                     #if ($selectedserviceDesk && ($selectedserviceDesk  == $option.getName()))
	                   							<option value="$option.getName()" selected="selected">$option.getName()</option>
	              						 #else
	                  							<option value="$option.getName()">$option.getName()</option>
	            						 #end
                                     #end 
                                </select> 	
			</td>
			<td class="request-type-actions" colspan="2">
			<input class="aui-button addBtn" type="submit" value="Add" title="Add">
			</td>
			
			</tr>
	</thead>
	<tbody class="aui-restfultable-create-group-config">
	
	 
       						    
	
	
	</tbody>
	</table>
	</form>
	</div>
</body>
</html>