<html>
<head>
    <title>$i18n.getText("fecru-banner.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
</head>
<body>
    <div id="aui-message-bar"></div>
    <div class="header">
        <h2>Configure Announcement Banner here</h2>
    </div>
    <p>Paste the HTML for the banner in the text area below, then press Save and Refresh the page</p>
    <textarea class="textarea" rows="6" cols="25" name="bannerHTML" id="bannerHTML"
              placeholder="Your HTML for the banner here..."></textarea>
    <br/>
    <button class="aui-button" id="bannerSaveButton">
        Save
    </button>

</body>
</html>
