<html>
  <head>
    <title>$i18n.getText("xmatters.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.dt.jira.xmatters.intgt.plugin.xMatters-integration-plugin:xMatters-integration-plugin-v2-resources1.0")
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
  </head>
  <body>
		<div class="header">
        <h3 class="formtitle">$i18n.getText("xmatters.admin.label")</h3>
    </div>
    <form id="admin2" class="aui">
      <div class="field-group">
        <label for="xmattersuid">$i18n.getText("xmatters.admin.xmattersuid.label")</label>
        <input type="text" id="xmattersuid" name="xmattersuid" class="text">
      </div>
      <div class="field-group">
        <label for="xmatterspwd">$i18n.getText("xmatters.admin.xmatterspwd.label")</label>
        <input type="password" id="xmatterspwd" name="xmatterspwd" class="text">
      </div>
	  <div class="field-group">
        <label for="xmattersinterval">$i18n.getText("xmatters.admin.xmattersinterval.label")</label>
        <input type="text" id="xmattersinterval" name="xmattersinterval" class="text">
      </div>
	  <div class="field-group">
        <label for="xmattersjiraemailid">$i18n.getText("xmatters.admin.xmattersjiraemailid.label")</label>
        <input type="text" id="xmattersjiraemailid" name="xmattersjiraemailid" class="text">
      </div>
      <div class="field-group">
          <label for="xmattershipchattoken">$i18n.getText("xmatters.admin.xmattershipchattoken.label")</label>
          <input type="text" id="xmattershipchattoken" name="xmattershipchattoken" class="text">
      </div>
      <div class="field-group">
        <input type="submit" value="$i18n.getText("xmatters.admin.save.label")" class="button">
        <!--input type="button" value="$i18n.getText("xmatters.admin.test.label")" class="button" onclick="alert('Test not implemented yet');return false;"-->
				<input type="button" value="$i18n.getText("xmatters.admin.cancel.label")" class="button" onclick="location.href='/plugins/servlet/upm#manage'">
      </div>
    </form>

		<script type="text/javascript">
      var baseUrl = "$applicationProperties.getBaseUrl()";
    </script>
	</body>
</html>
