<html>
<head>
    <title>$action.getText('xMatters-webwork-module.integration.issue')</title>
    #if (${action.issueObject})
        <meta name="decorator" content="issueaction" />
    #else
        <meta name="decorator" content="message" />
    #end
</head>
<body>


#if(${action.issueObject})
    <form action="XMattersWebWork.jspa" class="aui" id="schedule-issue">
        <div class="form-body">
            <div class="hidden">
                <input name="atl_token" type="hidden" value="${action.xsrfToken}">
            </div>
            <h2 class="dialog-title">
			 <fieldset>
               		<div class="aui-message warning">
						<p class="title">
							<span class="aui-icon icon-warning"></span>
							<strong>Alert: $action.getText('xMatters-webwork-module.integration')</strong>
						</p>						
					</div>
            </fieldset>
			</h2>
			<fieldset class="group">
				<legend><span>Options:</span></legend>
				#if( ${action.incidentType} == "External" )
				<div class="radio">
					<input class="radio" type="radio" checked="checked" 
						name="radiobuttons" id="radioButtonOne">
					<label for="radioButtonOne">External Incident - Conference Bridge </label>
				</div>
				<div class="radio">
					<input class="radio" type="radio" 
						name="radiobuttons" id="radioButtonTwo">
					<label for="radioButtonTwo">External Incident - No Conference Bridge </label>	
				</div>
				<div class="radio" style="display:none">
					<input class="radio" type="radio"  
						name="radiobuttons" id="radioButtonThree">
					<label for="radioButtonOne">Internal Incident - Conference Bridge </label>
				</div>
				<div class="radio" style="display:none">
					<input class="radio" type="radio" 
						name="radiobuttons" id="radioButtonFour">
					<label for="radioButtonTwo">Internal Incident - No Conference Bridge </label>	
				</div>
			#else 
				<div class="radio" style="display:none">
					<input class="radio" type="radio"  
						name="radiobuttons" id="radioButtonOne">
					<label for="radioButtonOne">External Incident - Conference Bridge </label>
				</div>
				<div class="radio" style="display:none">
					<input class="radio" type="radio" 
						name="radiobuttons" id="radioButtonTwo">
					<label for="radioButtonTwo">External Incident - No Conference Bridge </label>	
				</div>
				<div class="radio">
					<input class="radio" type="radio"  checked="checked"
						name="radiobuttons" id="radioButtonThree">
					<label for="radioButtonOne">Internal Incident - Conference Bridge </label>
				</div>
				<div class="radio">
					<input class="radio" type="radio" 
						name="radiobuttons" id="radioButtonFour">
					<label for="radioButtonTwo">Internal Incident - No Conference Bridge </label>	
				</div>
				#end
			</fieldset>
            <div class="hidden">
                <input name="id" type="hidden" value="${action.id}">
                <input name="returnUrl" type="hidden" value="$!{action.returnUrl}">
            </div>
            <fieldset>
                <legend><span>${action.getText('xMatters-webwork-module.integration.details')}</span></legend>
                <div class="aui-field-versionspicker frother-control-renderer">
                    $action.getText('xMatters-webwork-module.integration.message')
                </div>
            </fieldset>
        </div>

        <div class="buttons-container form-footer">
            <div class="buttons">
                <input accesskey="s" class="button" id="schedule-issue-submit" name="Create" title="Press Ctrl+Alt+s to submit this form" type="submit" value="Create">
                <a accesskey="`" class="button" href="/browse/${action.issue.key}" id="schedule-issue-cancel" title="Press Ctrl+Alt+` to cancel">Cancel</a>
            </div>
        </div>
    </form>
#else
<div class="remove-me">
    <h1>${action.getText('common.words.error')}</h1>
    <div class="aui-message error"><span class="aui-icon icon-error"></span>
        #foreach($message in $action.flushedErrorMessages)
            <p>$message</p>
        #end
    </div>
</div>

#end
</body>
</html>